<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Page not found :: Kowainik</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Kowainik website">
        <meta name="keywords" content="Haskell, Functional progarmming, FP">
        <meta name="author" content="Kowainik"/>
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="Kowainik" />
        <meta property="og:title" content="Kowainik website" />
        <meta property="og:description" content="Dream team and FP enthusiasts who are ready to make this world the best place in the universe." />
        <meta property="og:url" content="https://kowainik.github.io" />
        <meta property="og:image" content="https://kowainik.github.io/images/logo-yellow.png" />
        <meta name="twitter:title" content="Kowainik website" />
        <meta name="twitter:description" content="Dream team and FP enthusiasts who are ready to make this world the best place in the universe." />
        <meta name="twitter:image:src" content="https://kowainik.github.io/images/logo-yellow.png" />
        <meta name="twitter:url" content="https://kowainik.github.io" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Custom fonts for this template -->
        <link href="/css/font-awesome.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template -->
        <link href="/css/default.css" rel="stylesheet">
    </head>
    <body>
        <header>
        </header>
        <div class="p404 bg-primary text-secondary text-center">
            <div class="container">
                <h1 class="text-center text-secondary mb-0"> openPage :: URL ⟶ HTML </h1>
                <h1 class="text-center text-secondary mb-0"> function is not total </h1>
            <hr class="star-dark-pr">
            <a class="btn btn-xl btn-outline-dark btn-github" href="/"> <img class="img-fluid p404-img" src="/images/logo-tr.png" alt="Kowainik"/></a>
            </div>
        </div>
    </body>

</html>
