<!-- Header -->
<nav class="navbar navbar-inverse navbar-fixed-left leftmenu bg-primary text-secondary">
   <div class="navbar-header">
       <div class="postslogo"> <a class="navbar-brand" href="../"><img class="img-fluid mb-5 d-block mx-auto" src="/images/logo-tr.png" alt="Kowainik"></a></div>

     <div class ="row coolFont">
     </div>

     <div class="allposts"> <h3><a href="../projects.html"> Projects =<< </a></h3></div>

   </div>
</nav>
<div class="container info">
    <h2 class="text-center text-uppercase text-secondary">$title$</h2>
    <hr class="star-dark mb-5">
    <div class="content">
    <div class="row post">
        <div class="col-12">
            $for(readmes)$
            <div class="row">
                <h5><a href="$url$">$title$</a></h5>
            </div>
            <div class="row coolFont"><pre class="comment text-secondary">    -- ^  $description$</pre></div>
            $endfor$

        </div>
    </div>
    </div>
</div>
