<div class="row justify-content-center subscribe-form" id="mc_embed_signup">
  <form action="https://news.us2.list-manage.com/subscribe/post?u=af5d0411175f11e83618abf5e&amp;id=b04a7ed805" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="form-row mx-0" id="mc_embed_signup_scroll">
      <div class="col-8 input-group ">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-envelope"></i> </div>
        </div>
        <input type="email" value="" name="EMAIL" class="required email form-control" placeholder="Your email" id="mce-EMAIL">
      </div>
      <div class="col-4 text-left">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary btn-lg">
      </div>
      <div class="mc-field-group group-checkbox input-group">
        <ul>
          <li><input type="checkbox" value="1" name="group[83780][1]" class="form-check-input" id="mce-group[83780]-83780-0"></li>
          <li><input type="checkbox" value="2" name="group[83780][2]" class="form-check-input" id="mce-group[83780]-83780-1" checked></li>
        </ul>
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_af5d0411175f11e83618abf5e_b04a7ed805" tabindex="-1" value=""></div>
    </div>
  </form>
</div>
